html{
    height: 100%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/* NAV BAR*/
/* Set the NavBar Div */
.navbar{
    text-align: right;
    padding: 10 20 0 0;
}

/* Set the Unordered List Properties */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Set the Ordered List Properties */
li{
    float: right;
}

/* Set the A Properties inside Ordered List */
li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/* LOGO Above Search */
/* Set the Logo Container */
.logodiv{   
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Set Img to Scale with Container */
.imgclass{
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/* Search Bar */
/* Set the Search Container */
.searchbox{
    position: absolute;
    background: #dddddd;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

/* Set the Search Btn >> The Search Logo */
.searchbtn{
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

/* Form for Submitting Input in Search Bar */
.form{
    background: none;
    float: left;
    border-radius: 40px;
    transition: 0.4s;
    width: 0px;
}

/* Set the Search Bar >> The Place You Type In */
.searchbar{
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 14px;
    border-radius: 40px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

/* Add or Overwrite These Properties on Trigger */
.searchbox:hover > .searchbtn{
    background: white;
}

.searchbox:hover > .form{
    width: 300px;
}

.searchbox:hover > .form > .searchbar{
    width: 300px;
    padding: 0 5px;
}

.form:focus-within{
    width: 300px;
}

.searchbar:focus{
    width: 300px;
    padding: 0 5px;
}

.form:focus-within + a{
    background: white;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/* Content Space >> Logo and Searchbar*/
/* Make Contetn Space Extend to Bottom of View if Not Enough Contents */
.content{
    flex: 1 0 auto;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/* Footer */
.footer{
    background: #eeeeee;
    width: 100vw;
    line-height: 10px;
}

.author{
    color: #dddddd;
    padding: 0 15px;
}
